#top {
  width: 800px;
  text-align:center;
  background-color: #dcc9f4;
  padding: 20px 0px 20px 0px;
  
} 
.top-child {
  width: 20%;
  display: inline-block;
  background-color: #ffd9df;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  text-align:center;
}
#middle {
  width: 800px;
  height: 800px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffd9df;
}
#middle-child01 {
  width: 200px; 
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  left: 100px;
  top: 100px;
  }
#middle-child02 {
  width: 200px; 
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  left:300px;
  top:300px;
}  
#middle-child03 {
  width: 200px; 
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  left:500px;
  top:500px;
}
#bottom {
  width: 800px;
  height: 300px;
  position: relative;
  text-align:center;
  margin-top: 20px;
  background-color: #87ceeb;
} 
#bottom-child01 {
  width: 400px; 
  height: 100px;
  background-color: #e5dcf0;
  position: absolute;
  left: 0px;
  top: 0px;
  }
  #bottom-child02 {
    width: 400px; 
    height: 100px;
    background-color: #e5dcf0;
    position: absolute;
    left: 200px;
    top: 100px;
    } 
    #bottom-child03 {
      width: 400px; 
      height: 100px;
      background-color: #e5dcf0;
      position: absolute;
      left: 400px;
      top: 200px;
      } 
  
  

